<div class="container-fluid text-center">
    <h1> <%= @distributor.user_name.capitalize %> </h1>
        <% @distributor.stores.each do |store| %>
            <%= link_to "#{store.name.split.map(&:capitalize).join(' ')} - #{store.location.split.map(&:capitalize).join(' ')}", store_path(store) %><br>
        <% end %>

</div>
