

<div class="container-fluid text-center">
<% @items.each do |item| %>
<%= "#{item.store.name} - #{item.name}" %>
<% if item.distributor == current_user %>
<%= link_to "Edit Item", edit_store_item_path(item.store, item) %>
<% end %><br>
<% end %>
</div>

    