<li><%= link_to "#{current_user.user_name}'s Profile", distributor_path(current_user) %></li>


<% current_user.items.each do |item| %>
<%= "#{item.store.name} - #{item.name}" %>
<%= link_to "Edit Item", edit_item_path(item) %><br>

<% end %><br>


    <p><%= link_to 'Create New Item', new_item_path %></p>
    