<div class="container-fluid text-center">
    <h1>Welcome To The Rails General Store</h1></br>
    <p>Please Begin By Creating A New Distributor Or Signing In</p>
    <p>A Distributor May Create New Stores And Add New Items to Stores</p>
</div>